:root{
  text-align: center;
  box-sizing: border-box;
  font-size: calc(.8em + 1vw);
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  height: 100vh;
  background-color: greenyellow;
  transition: background-color 1s ease-in;
}
#quote-box {
  background-color: white;
  box-shadow: .1em .1em .1em black;
  transition: color 1s ease-in;
  width: 35vw;
  min-height: 5em;
  position: absolute;
  display: table-cell;
  border-radius: 0.5em;
  padding: 1em 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#text{
  transition: color 1s ease-in;
}
#author{
  font-size: .8rem;
  text-align: right;
  padding-right: 1em;
  transition: color 1s ease-in;
}
.buttons{
  width: auto;
  margin: auto;
  display: block;
  .button{
    border-radius: .15em;
    border: none;
    color: white;
    background-color: green;
    transition: background-color 1s ease-in;
    margin: 0;
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover{
      opacity: 0.8;
      transition: 300ms;
    }
    &#tweet-quote{
      float: left;
      height: 1.2rem;
      width: 1.2rem;
      text-align: center;
    }
    &#new-quote {
      float: right;
      font-size: .6rem;
      min-height: 1.2rem;
      font-weight: 100;
      transition: background-color 1s ease-in;
    }
  }
}
.iconBox{
  position: absolute;
  display: flex;
  min-height: 3rem;
  font-size: 2rem;
  & .icon {
  opacity: .333;
  margin: 0;
  }
}
.twitterIcon {
  display: flex;
  padding: .1rem;
  & .icon {
    max-height: .6em;
  }
}